# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
venv/
env/

# Ignore Django-specific files
db.sqlite3
*.log
media/
staticfiles/

# Ignore environment files
.env

# Ignore VS Code settings
.vscode/
