.match-list {
    list-style: none;
    padding: 0;
}

.match-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.info {
    flex: 1;
}

.btn {
    background-color: #6c63ff;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}
.btn:hover {
    background-color: #574fdb;
}
