.signup-container {
    width: 40%;
    margin: auto;
    padding: 20px;
    text-align: center;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}
button:hover {
    opacity: 0.8;
}