/* Navbar Styling */
.navbar {
    /* display: none; */
    background-color: #333;
    color: white;
    padding: 10px;
    position:relative;
    width: 100%;
    top: 0;
    z-index: 10;
}

.navbar ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration:none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
}
th, td{
    padding: 10px;
    border-radius: 5px;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    
    bottom: 0;
    width: 100%;
}

.footer-content {
    margin: 0 auto;
}

.social-media a {
    color: white;
    margin: 0 10px;
}

.content {
    padding-top: 80px; /* to avoid content being hidden behind navbar */
    padding-bottom: 60px; /* to ensure content isn't hidden under footer */
}

