{% extends 'master.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Welcome Back!</h2>

    {% if form.errors %}
    <p class="error">Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p class="error">Your account doesn't have access to this page.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="{% url 'campus_crash:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    <div class="register-link">
    <a href="{% url 'campus_crash:register' %}">Don't have an account? Register</a>
</div>
</div>
{% endblock %}
